.bottom-links p {
    margin-bottom: 0px;
}
.top-links img {
    max-width: 10%;
}
ul#country-listbox{
    left: -105px;
}
.alert.alert-success.alert-block,.alert.alert-danger {
    width: 60%;
    margin: 0 auto;
}
.top-links {
    text-align: center;
    padding: 10px 0;
}
.header-bck {
    background: #012060;
}
.gift-info {
    margin: 40px 0px 40px 20px;
}
.col-sm-4.award-img-div {
    margin: auto;
}
img.award-img {
    max-width: 100%;
}
.lower-award-details ul {
    margin-left: -20px;
}
.lower-award-details ul li {
    list-style: square;
    font-weight: 500;
    font-size: 18px;
}
.col-sm-6.landing-desc-left {
    padding: 0px !important;
}
.lower-landing-image {
    width: 100%;
    max-width: 100%;
}
.top-award-details h1 {
    font-family: sans-serif;
    font-weight: 800;
    color: #996300;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 0.7;
}
.top-award-details h2 {
    font-family: sans-serif;
    font-weight: 900;
    color: #ffff;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 0.7;
    margin-bottom: 20px;
}
.lower-image {
    text-align: center;
}
.lower-image p {
    font-weight: 700;
}
.first-part-div {
    padding-right: 0 !important;
}
.second-part-div {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: auto;
}
.right-contact-part {
    text-align: center;
    color: #ffff;
}
.right-contact-part h1 {
    text-transform: uppercase;
    font-weight: 700;
}
.right-contact-part p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.contact-part-background {

    padding: 20px 0px;
}
.modal-body p {
    font-size: 16px;
    text-align: justify;
}
.form-check-input {
    margin-top: 0.5rem !important;
}
.landing-form {
    margin: 30px 70px;
    padding: 25px;
    background: #ffff;
    color: #000;
    border-radius: 5px;
}
.form-group label {
    text-align: left;
    font-weight: 600;
}
.Lower-count-users {
    text-align: center;
    color: #ffff;
}
.Lower-count-users h2 {
    font-size: 44px;
    font-weight: 600;
}
.Lower-count-users p {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
}
.lower-text-users {
    text-transform: capitalize;
    font-size: 16px;
}
.landing-form button {
    background: #fec107;
    border-color: #fec107;
}

label.form-check-label a {
    color: #000000;
    text-decoration: underline;
}
.landing-countdown-timer {
    background: #0d5cbb;
    color: #ffff;
}
.landing-countdown-timer li {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    list-style-type: none;
    padding: 1em;
    color: darkgray;
    text-transform: uppercase;
    position: relative;
}
.landing-countdown-timer li span {
  display: block;
  font-size: 4.5rem;
}
.landing-countdown-timer .container {
  margin: 0 auto;
  text-align: center;
}
ul.counter-display li:after {
    position: absolute;
    background: darkcyan;
    content: '';
    width: 2px;
    height: 115px;
    top: 20%;
    right: -25px;
}
ul.counter-display {
    display: inline-flex;
    background: #012060;
    justify-content: space-around;
    margin: 30px 0px 30px;
    width: 70%;
}
ul.counter-display li:last-child:after{
    display: none;
}
.landing-bottom-desc p {
    margin: auto;
    padding: 50px 20px;
    font-size: 22px;
    font-weight: 700;
    text-align: justify;
    color: #ffff;
}
.landing-desc-left {
    margin: auto;
}
.bottom-links {
    color: #ffff;
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0px;
}
span.iti__country-name {
    color: #000000;
}

/*carousel styles*/
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}
.carousel .item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}
.carousel .item h4 {
    font-size: 18px;
    margin: 10px 0;
}
.carousel .item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}
.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
    text-align: center;
}
.carousel .thumb-content {
    padding: 15px;
}
.carousel .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}
.carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}
.carousel .item-price span {
    color: #86bd57;
    font-size: 110%;
}
.carousel .carousel-control.left i {
    margin-left: -3px;
}
.carousel .carousel-control.left i {
    margin-right: -3px;
}
.carousel .carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
}
.carousel-indicators li {   
    background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {    
    background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

/* Responsive */
@media (min-width: 1800px) and (max-width: 2560px){
    ul#country-listbox {
        left: auto;
    }
    .first-slider-part {
        background-size: cover !important;
    }
    .landing-form {
        margin: 120px 200px;
        padding: 50px 40px;
        font-size: 28px;
    }
    .iti-mobile .iti__country-list {
        right: 150px;
        top: 420px;
        font-size: 25px;
        width: auto !important;
    }
    .form-control {
        height: calc(1.5em + .75rem + 2px);
        font-size: 2rem !important;
    }
    .iti-mobile .iti--container {
        position: absolute !important;
    }
    input#exampleCheck1 {
        width: 30px;
        height: 30px;
    }
    .form-check-input {
        margin-left: -2.25rem !important;
    }
    .iti.iti--allow-dropdown {
        height: 100%;
        width: 100%;
    }
    .landing-form button {
        font-size: 24px;
    }
    .Lower-count-users h2 {
        font-size: 79px;
    }
    .Lower-count-users p {
        font-size: 32px;
    }
    ul.counter-display {
        width: 100%;
    }
    .landing-countdown-timer li {
        font-size: 2.2em;
    }
    ul.counter-display li:after {
        height: 140px;
        right: -30px;
    }
    .bottom-links {
        font-size: 22px;
    }
}
@media only screen and (max-width: 1445px){
    .iti-mobile .iti__country-list {
        right: -15px;
        top: 227px;
        font-size: 16px;
        width: 42% !important;
    }
    .iti-mobile .iti--container {
        position: absolute !important;
    }
    ul#country-listbox {
        left: auto;
    }
}
@media only screen and (max-width: 1025px){
    .landing-form {
        margin: 20px 20px;
    }
    section.first-slider-part{
        background-size: cover !important;
    }
    .form-check-input {
        margin-left: 0 !important;
    }
}
@media only screen and (max-width: 900px){
    .Lower-count-users h2 {
        font-size: 2.5rem;
    }
    .Lower-count-users p {
        font-size: 1.2em;
    }
    .iti-mobile .iti__country-list {
        right: -23px;
        top: 200px;
        font-size: 16px;
        width: 43% !important;
    }
    section.first-slider-part{
        background-size: cover !important;
    }
    .landing-form {
        margin: 20px;
        padding: 20px;
    }
    .right-contact-part {
        font-size: 12px;
    }
    .form-check-input {
        margin-left: -1.25rem !important;
        margin-top: 0.3rem !important;
    }
    .Lower-count-users p {
        font-size: 18px;
    }
    .landing-countdown-timer li span {
        font-size: 2.5rem;
    }
    ul.counter-display li:after {
        height: 80px;
        right: 0px;
    }
}
@media only screen and (max-width: 767px){
    ul.counter-display{
        width: 95%;
    }
}
@media only screen and (max-width: 430px){
    .Lower-count-users h2 {
        font-size: 2em;
    }
    .Lower-count-users p {
        font-size: 1em;
    }
    .iti-mobile .iti__country-list {
        right: auto;
        top: 95%;
        font-size: 16px;
        width: auto !important;
    }
    section.first-slider-part {
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
    .col-sm-5.second-part-div {
        margin-top: 230px;
    }
    .contact-part-background {
        padding: 30px 20px;
        background: #012060;
    }
    .landing-countdown-timer li span {
        font-size: 2rem;
    }
    ul.counter-display{
        width: 100%;
        padding: 0px;
    }
    .landing-countdown-timer li {
        font-size: 1em;
    }
    ul.counter-display li:after {
        height: 65px;
        right: 0px;
    }
    .Lower-count-users {
        padding: 15px 0 0 0;
    }
}
@media only screen and (max-width: 380px){
    .Lower-count-users p {
        font-size: .8em;
    }
    .iti-mobile .iti__country-list {
        top: 85%;
    }
    .col-sm-5.second-part-div {
        margin-top: 200px;
    }
    .Lower-count-users {
        padding: 20px 0 0 0;
    }
    .landing-countdown-timer li {
        font-size: .8em;
    }
    ul.counter-display li:after {
        height: 60px;
        right: 0px;
    }
}
@media only screen and (max-width: 325px){
    .col-sm-5.second-part-div {
        margin-top: 165px;
    }
    button.btn.btn-primary{
        font-size: .8rem;
    }
}